@model IEnumerable<Dealership.Models.Model>

@{
    ViewBag.Title = "Models";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Car Models</h2>

<div class="col-md-3">
    @if (Request.IsAuthenticated) //"Create New" link only visible when the user is logged
    {
        @Html.ActionLink("Create New", "Create")
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type.type1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.engineSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.doors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colour)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type.type1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.engineSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colour)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.modelID })
        </td>
        @if (Request.IsAuthenticated) //"Edit, Details and Delete" links only visible when the user is logged
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.modelID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.modelID })
            </td>
        }
    </tr>
}

</table>
